---
# TinyPilot Pro has two nginx configuration files, whereas TinyPilot Community
# has just one. Remove the extra Pro file otherwise nginx will fail due to the
# extra file if the user downgrades from Pro to free.
- name: remove stray conf file from TinyPilot Pro
  file:
    path: /etc/nginx/sites-enabled/tinypilot.http.conf
    state: absent

- name: import nginx role
  import_role:
    name: geerlingguy.nginx
  vars:
    ustreamer_port: 8001
    nginx_upstreams:
      - name: tinypilot
        servers:
          - "127.0.0.1:{{ tinypilot_port }} fail_timeout=1s max_fails=600"
      - name: ustreamer
        servers:
          - "127.0.0.1:{{ ustreamer_port }} fail_timeout=1s max_fails=600"
    nginx_vhosts:
      - listen: "{{ tinypilot_external_port }} default_server"
        server_name: "tinypilot"
        root: "{{ tinypilot_dir }}"
        index: "index.html"
        extra_parameters: |
          proxy_buffers 16 16k;
          proxy_buffer_size 16k;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_http_version 1.1;

          location /socket.io {
            proxy_pass http://tinypilot;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header Host $http_host;
          }
          location /state {
            proxy_pass http://ustreamer;
          }
          location /stream {
            proxy_pass http://ustreamer;
          }
          location /snapshot {
            proxy_pass http://ustreamer;
          }
          location / {
            proxy_pass http://tinypilot;
          }
          location ~* ^/.+\.(html|js|js.map|css)$ {
            root "{{ tinypilot_dir }}/app/static";

            # Disable caching
            add_header Last-Modified $date_gmt;
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            if_modified_since off;
            expires off;
            etag off;
          }
          location ~* ^/.+\.(jpg|jpeg|png|ico)$ {
            root "{{ tinypilot_dir }}/app/static";
          }
    nginx_remove_default_vhost: true
