[Unit]
Description=KVM Pi - RPi-based virtual KVM
After=syslog.target network.target

[Service]
Type=simple
User={{ kvmpi_user }}
WorkingDirectory={{ kvmpi_dir }}
ExecStart={{ kvmpi_dir }}/venv/bin/python app/main.py
Environment=HOST={{ kvmpi_interface }}
Environment=PORT={{ kvmpi_port }}
Environment=HID_PATH={{ kvmpi_hid_path }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
