[Unit]
Description=TinyPilot - RPi-based virtual KVM
After=syslog.target network.target

[Service]
Type=simple
User={{ tinypilot_user }}
WorkingDirectory={{ tinypilot_dir }}
ExecStart={{ tinypilot_dir }}/venv/bin/python app/main.py
Environment=HOST={{ tinypilot_interface }}
Environment=PORT={{ tinypilot_port }}
Environment=KEYBOARD_PATH={{ tinypilot_keyboard_interface }}
Restart=always

[Install]
WantedBy=multi-user.target
