# This configuration file is an actual Python file. Only variables in uppercase
# are recognized as config keys.

KEYBOARD_PATH = '{{ tinypilot_keyboard_interface }}'
MOUSE_PATH = '{{ tinypilot_mouse_interface }}'
{% if tinypilot_install_janus and ustreamer_compile_janus_plugin and ustreamer_h264_sink != None -%}
USE_WEBRTC_REMOTE_SCREEN = True
{% endif -%}
